/* ---Forms Container--- */
#forms-container {
  background: #f6fff8;
  margin: 5px;
  padding: 10px 20px;
  text-align: left;
}

/* ---Energy info--- */
#energy-form {
  padding: 5px;
}

#energy-header {
  color: #6b9080;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#energy-q {
}

#energy-input {
}
#energy-kwh {
}

/* ---Diet info--- */

#diet-form {
  padding: 5px;
}

#diet-header {
  color: #6b9080;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#high-meat {
}
#medium-meat {
}
#low-meat {
}
#vegetarian {
}
#vegan {
}

/* ---Transport info--- */

#car-form {
  padding: 5px;
}

#car-header {
  color: #6b9080;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

#car-average {
}

#fuel-type {
}

#car-size {
}

#milesPerYear {
}

/* Flights */

#flight-form {
}

#flight-header {
  color: #6b9080;
}

#domestic {
    
}

#longHaul {
}

#shortHaul {
}
