#calculator-display-container > h2 {
    color: #6B9080;
}

#calculator-display-container > p {
 display: inline;
}

#total-value-low {
    color: #6B9080;
    font-style: bold;
    
}

#total-value-average {
    color: #8B7849;
    font-style: bold;
    
}

#total-value-high {
    color: #8C504A;
    font-style: bold;
    
}

