#calculator-display-container > h2 {
  color: #6b9080;
}

#calculator-display-container > p {
  display: inline;
}

#total-value-low {
  color: #6b9080;
  font-style: bold;
}

#total-value-average {
  color: #8b7849;
  font-style: bold;
}

#total-value-high {
  color: #8c504a;
  font-style: bold;
}

#span-more {
  color: #8c504a;
  font-style: bold;
}

#span-less {
  color: #6b9080;
  font-style: bold;
}
